<div class="footer-page">
  <div>
    <img
      src="assets/pictures/logo.webp"
      width="150"
      height="150"
      alt=""
      class="item-footer"
    />

    <div class="address-footer item-footer">
      <span>Chez Resto Christian AKPONA</span>
      <span>170 Rue Jean Piaget, 30100 – Ab-Calavi</span>
      <span>+229 40 411 451</span>
    </div>

    <div class="link-footer item-footer">
      <a id="logo-facebook"> </a>
    </div>
  </div>
  <p>
    Tous droits réservés © Chez tante Berthe 2022. Made by Pose Studio. Mentions
    légales.
  </p>
</div>
