<div class="container-list-users">
  <p><i class="fa fa-beer"></i> GESTION DES BOISSONS</p>
  <div class="user-form">
    <form [formGroup]="drinkForm">
      <div class="header">
        <span>Enregistrer une boisson</span>
        <span>Ajouter ou modifier une boisson</span>
      </div>
      <div class="row">
        <div class="col-md-8 col-12">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Désignation</mat-label>
            <input
              matInput
              placeholder="Désignation"
              formControlName="name"
              type="text"
              oninput="this.value = this.value.toUpperCase()"
            />
          </mat-form-field>
        </div>
        <div class="col-md-4 col-12">
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Prix</mat-label>
            <input
              matInput
              placeholder="Prix"
              formControlName="amount"
              type="number"
              min="0"
            />
          </mat-form-field>
        </div>
        <div class="container-btn col-12">
          <button
            (click)="onCreate()"
            pRipple
            pButton
            class="p-button p-button-outlined p-button-secondary"
          >
            Réînitialiser
          </button>
          <button
            pRipple
            pButton
            class="p-button p-button-success"
            (click)="onSave(drinkForm.value)"
            [disabled]="!drinkForm.valid"
          >
            {{ saveButtonName }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="list-user">
    <div class="header">
      <span>Liste des boissons</span>
      <span>Consulter la liste des boissons </span>
    </div>
    <p-table [value]="drinks" responsiveLayout="scroll" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>#</th>
          <th>Désignation</th>
          <th class="text-end">Prix</th>
          <th class="text-center">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-drink let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td class="">{{ drink.name }}</td>
          <td class="text-end">{{ drink.amount }}</td>
          <td class="text-center">
            <button
              pRipple
              pButton
              class="p-button p-button-rounded p-button-outlined p-button-success"
              icon="fa fa-pencil"
              (click)="onUpdate(drink)"
            ></button>
            <button
              pRipple
              pButton
              class="p-button p-button-rounded p-button-outlined p-button-danger"
              icon="fa fa-trash"
              (click)="onDelete(drink)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Au total il y a {{ totalRecords }} enregistrements.
        </div>
      </ng-template>
    </p-table>
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="totalRecords"
      [rowsPerPageOptions]="[10, 20, 30]"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </div>
</div>
